# Artificial Neural Network

### Importing the libraries

In [134]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [135]:
tf.__version__

'2.18.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [136]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values # write down here why we are using 3:-1 why these columns
y = dataset.iloc[:, -1].values

We used dataset.iloc[ : , 3 : -1 ] to select the columns from 3rd index upto the last except the last column as the last column consist of the y value and the first three columns bing name creditScore and index are not needed to train the model

In [137]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [138]:
# from google.colab import drive
# drive.mount('/content/drive')

In [155]:
dataset.corr()

ValueError: could not convert string to float: 'Hargrave'

In [139]:
print(X[:5])

[[619 'France' 'Female' 42 2 0.0 1 1 1 101348.88]
 [608 'Spain' 'Female' 41 1 83807.86 1 0 1 112542.58]
 [502 'France' 'Female' 42 8 159660.8 3 1 0 113931.57]
 [699 'France' 'Female' 39 1 0.0 2 0 0 93826.63]
 [850 'Spain' 'Female' 43 2 125510.82 1 1 1 79084.1]]

In [140]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [141]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

X[:, 2] = X[:, 2].astype(str)
X[:, 2] = le.fit_transform(X[:, 2])

In [142]:
print(X[:8])

[[619 'France' 0 42 2 0.0 1 1 1 101348.88]
 [608 'Spain' 0 41 1 83807.86 1 0 1 112542.58]
 [502 'France' 0 42 8 159660.8 3 1 0 113931.57]
 [699 'France' 0 39 1 0.0 2 0 0 93826.63]
 [850 'Spain' 0 43 2 125510.82 1 1 1 79084.1]
 [645 'Spain' 1 44 8 113755.78 2 1 0 149756.71]
 [822 'France' 1 50 7 0.0 2 1 1 10062.8]
 [376 'Germany' 0 29 4 115046.74 4 1 0 119346.88]]

One Hot Encoding the "Geography" column

In [143]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X=ct.fit_transform(X)

In [144]:
print(X[:5])

[[1.0 0.0 0.0 619 0 42 2 0.0 1 1 1 101348.88]
 [0.0 0.0 1.0 608 0 41 1 83807.86 1 0 1 112542.58]
 [1.0 0.0 0.0 502 0 42 8 159660.8 3 1 0 113931.57]
 [1.0 0.0 0.0 699 0 39 1 0.0 2 0 0 93826.63]
 [0.0 0.0 1.0 850 0 43 2 125510.82 1 1 1 79084.1]]

In [157]:
df=pd.DataFrame(X)
df.corr()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.000000,-0.580359,-0.575418,-0.008928,0.006772,-0.039208,-0.002848,-0.231329,0.001230,0.002467,0.003317,-0.003332
1,-0.580359,1.000000,-0.332084,0.005538,-0.024628,0.046897,-0.000567,0.401110,-0.010419,0.010577,-0.020486,0.010297
2,-0.575418,-0.332084,1.000000,0.004780,0.016889,-0.001685,0.003868,-0.134892,0.009039,-0.013480,0.016732,-0.006482
3,-0.008928,0.005538,0.004780,1.000000,-0.002857,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384
4,0.006772,-0.024628,0.016889,-0.002857,1.000000,-0.027544,0.014733,0.012087,-0.021859,0.005766,0.022544,-0.008112
5,-0.039208,0.046897,-0.001685,-0.003965,-0.027544,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201
6,-0.002848,-0.000567,0.003868,0.000842,0.014733,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784
7,-0.231329,0.401110,-0.134892,0.006268,0.012087,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797
8,0.001230,-0.010419,0.009039,0.012238,-0.021859,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204
9,0.002467,0.010577,-0.013480,-0.005458,0.005766,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933
10,0.003317,-0.020486,0.016732,0.025651,0.022544,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421
11,-0.003332,0.010297,-0.006482,-0.001384,-0.008112,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000

### Splitting the dataset into the Training set and Test set

In [145]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [146]:
X_train.shape , y_train.shape , X_test.shape , y_test.shape

((8000, 12), (8000,), (2000, 12), (2000,))

### Feature Scaling

In [147]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [148]:
ann = tf.keras.models.Sequential([
    tf.keras.Input(shape=(12,)),
    tf.keras.layers.Dense(units=6, activation='relu'),
    tf.keras.layers.Dense(units=6, activation='relu'),
    tf.keras.layers.Dense(units=3, activation="relu"),
    tf.keras.layers.Dense(units=1, activation='sigmoid')
]
)

### Adding the input layer and the first hidden layer

### Adding the second hidden layer

### Adding the output layer

## Part 3 - Training the ANN

### Compiling the ANN

In [149]:
ann.compile(
    loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.01)
)

### Training the ANN on the Training set

In [150]:
ann.fit(X_train,y_train,epochs=40)

Epoch 1/40

/usr/local/lib/python3.11/dist-packages/keras/src/backend/tensorflow/nn.py:780: UserWarning: "`binary_crossentropy` received `from_logits=True`, but the `output` argument was produced by a Sigmoid activation and thus does not represent logits. Was this intended?
  output, from_logits = _get_logits(

250/250  2s 2ms/step - loss: 0.5256
Epoch 2/40
250/250  1s 4ms/step - loss: 0.3674
Epoch 3/40
250/250  1s 2ms/step - loss: 0.3515
Epoch 4/40
250/250  0s 2ms/step - loss: 0.3580
Epoch 5/40
250/250  1s 2ms/step - loss: 0.3632
Epoch 6/40
250/250  1s 2ms/step - loss: 0.3649
Epoch 7/40
250/250  0s 2ms/step - loss: 0.3525
Epoch 8/40
250/250  1s 2ms/step - loss: 0.3421
Epoch 9/40
250/250  0s 2ms/step - loss: 0.3529
Epoch 10/40
250/250  1s 2ms/step - loss: 0.3426
Epoch 11/40
250/250  1s 3ms/step - loss: 0.3460
Epoch 12/40
250/250  1s 3ms/step - loss: 0.3609
Epoch 13/40
250/250  1s 2ms/step - loss: 0.3437
Epoch 14/40
250/250  1s 2ms/step - loss: 0.3503
Epoch 15/40
250/250  1s 2ms/step - loss: 0.3385
Epoch 16/40
250/250  0s 2ms/step - loss: 0.3465
Epoch 17/40
250/250  1s 2ms/step - loss: 0.3467
Epoch 18/40
250/250  1s 2ms/step - loss: 0.3418
Epoch 19/40
250/250  1s 2ms/step - loss: 0.3358
Epoch 20/40
250/250  0s 2ms/step - loss: 0.3422
Epoch 21/40
250/250  1s 2ms/step - loss: 0.3345
Epoch 22/40
250/250  1s 2ms/step - loss: 0.3414
Epoch 23/40
250/250  1s 2ms/step - loss: 0.3318
Epoch 24/40
250/250  1s 2ms/step - loss: 0.3330
Epoch 25/40
250/250  0s 2ms/step - loss: 0.3414
Epoch 26/40
250/250  1s 2ms/step - loss: 0.3434
Epoch 27/40
250/250  1s 2ms/step - loss: 0.3374
Epoch 28/40
250/250  1s 2ms/step - loss: 0.3406
Epoch 29/40
250/250  1s 3ms/step - loss: 0.3389
Epoch 30/40
250/250  1s 3ms/step - loss: 0.3421
Epoch 31/40
250/250  1s 2ms/step - loss: 0.3317
Epoch 32/40
250/250  1s 2ms/step - loss: 0.3430
Epoch 33/40
250/250  0s 2ms/step - loss: 0.3415
Epoch 34/40
250/250  1s 2ms/step - loss: 0.3302
Epoch 35/40
250/250  1s 2ms/step - loss: 0.3446
Epoch 36/40
250/250  0s 2ms/step - loss: 0.3369
Epoch 37/40
250/250  0s 2ms/step - loss: 0.3347
Epoch 38/40
250/250  0s 2ms/step - loss: 0.3338
Epoch 39/40
250/250  1s 2ms/step - loss: 0.3372
Epoch 40/40
250/250  1s 2ms/step - loss: 0.3413

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Extra**

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [151]:
[[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]

[[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]

### Predicting the Test set results

In [152]:
y_pred = ann.predict(X_test)

63/63  0s 2ms/step

In [153]:
y_pred=y_pred.round()

### Making the Confusion Matrix

In [154]:
from sklearn.metrics import confusion_matrix, accuracy_score
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.863
[[1509   76]
 [ 198  217]]

write down about precision recall f1-score, why is it better than just accuracy, what are some other interesting metrics u can find